<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Dopple</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>
         com.dopple.service.ReportService
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name>PeriodicReport</servlet-name>
    <servlet-class>
         com.dopple.service.PeriodicReportService
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
     <servlet>
    <servlet-name>StopBackgroundService</servlet-name>
    <servlet-class>
         com.dopple.service.StopMailService
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
       <servlet>
    <servlet-name>CheckService</servlet-name>
    <servlet-class>
         com.dopple.service.CheckPeriodicService
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopBackgroundService</servlet-name>
    <url-pattern>/StopBackgroundService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PeriodicReport</servlet-name>
    <url-pattern>/BackgroundReport</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/MailReport</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>CheckService</servlet-name>
    <url-pattern>/CheckService</url-pattern>
  </servlet-mapping>
</web-app>